.page {
  display: flex;
  justify-content: center;
}

.page__nav {
  padding-top: 1px;
}

.main {
  width: 600px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.aside {
  width: 340px;
  flex-shrink: 0;
}

aside {
  margin-left: 30px;
}

.page__main {
  background-color: white;
}

.page__aside {
  background-color: white;
}

/* nav */

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

.nav::before {
  content: "";
  display: block;
  width: 275px;
}

.nav__content-wrapper {
  align-self: flex-end;
  position: fixed;
  width: 275px;
  padding: 0 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.nav__logo {
  width: 50px;
  height: 30px;
  color: rgb(29, 155, 240);
  fill: currentColor;
}

.nav__logo-wrapper {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo-wrapper:hover {
  background-color: rgb(29, 155, 240, 0.1);
  border-radius: 9999px;
  cursor: pointer;
}

.menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav__menu {
  list-style-type: none;
}

.menu-item__icon {
  width: 1.75rem;
  height: 1.75rem;
}

#search-icon {
  display: none;
}

.menu-item__link {
  margin: 0 20px 0 16px;
  text-decoration: none;
  color: rgb(15, 20, 25);
  font-size: 20px;
  vertical-align: middle;
}

.menu-item__link--active {
  font-weight: bold;
}

.menu-item__wrapper {
  padding: 12px;
}

.menu-item__wrapper:hover {
  background-color: #909ca81a;
  border-radius: 9999px;
}

.button {
  background-color: lightgray;
  border: 1px solid transparent;
  border: none;
  outline: none;
  padding: 0 16px;
  font-size: 15px;
  border-radius: 9999px;
  font-weight: 600;
  line-height: 20px;
  min-height: 36px;
  cursor: pointer;
}

.button--primary {
  background-color: rgb(29, 155, 240);
  color: white;
}

.button--primary:hover {
  background-color: rgb(0, 127, 211);
}

.nav__tweet {
  width: 90%;
  min-height: 52px;
  margin: 4px 0;
  font-size: 17px;
}

.user {
  display: grid;
  grid-template-areas:
    "image name options"
    "image handle options";
  padding: 12px;
  column-gap: 12px;
}

.nav__user {
  margin: 12px 0;
}

.user:hover {
  background-color: #909ca81a;
  border-radius: 9999px;
  cursor: pointer;
}

.user__image {
  grid-area: image;
  align-self: center;
  width: 38px;
}

.user__image > img {
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius: 100%;
}

.user__name {
  font-weight: bold;
  font-size: 15px;
  grid-area: name;
  white-space: nowrap;
  max-width: cal(100% - 38px -24px);
  overflow: hidden;
}

.user__handle {
  grid-area: handle;
  font-size: 15px;
  color: rgb(83, 100, 113);
}

.user__options {
  align-self: center;
  grid-area: options;
  width: 28px;
  justify-self: end;
  fill: rgb(15, 20, 25);
}

.nav__tweet-icon {
  display: none;
  width: 24px;
  height: 24px;
  fill: white;
}

/* main */

.header {
  height: 53px;
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 0 10px;
  background-color: white;
}

.main__header {
  position: fixed;
  width: 598px;
}

.header__home {
  font-weight: 800;
}

.header__icon {
  height: 20px;
  width: 20px; TODO: hover
}

.post__tweeting {
  margin-top: 53px;
  padding: 10px 16px;
  border-bottom: 1px solid lightgray;
  display: grid;
  grid-template-areas:
    "image post-content"
    "image post-bottom";
  column-gap: 10px;
}

.main-avatar {
  width: 48px;
  grid-area: image;
}

.main-avatar img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  object-fit: cover;
}

.post__content {
  grid-area: post-content;
  width: 508px;
  padding-top: 15px;
  margin-bottom: 10px;
}

.post__content input {
  width: 100%;
  font-size: 20px;
  border: 0;
  outline: none;
  margin-bottom: 10px;
}

.post__bottom {
  grid-area: post-bottom;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.post__focuswithin {
  display: none;
  height: 25px;
  padding: 0 10px;
  width: max-content;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

.post__content:focus-within {
  border-bottom: 1px solid lightgray;
}

.post__content:focus-within .post__focuswithin {
  display: flex;
  align-items: center;
  padding: 0 8px 0 0;
  color: rgb(29, 155, 240);
  font-weight: bold;
}

.post__icons svg:hover,
.post__content:focus-within .post__focuswithin:hover {
  background-color: rgb(29, 155, 240, 0.1);
  border-radius: 9999px;
  cursor: pointer;
}

.post__focuswithin svg {
  padding: 8px;
  width: 15px;
  fill: rgb(29, 155, 240);
}

.post__icons svg {
  padding: 7px;
  width: 20px;
  height: 20px;
  fill: rgb(29, 155, 240);
}

.tweets {
  padding: 10px 16px;
  display: grid;
  grid-template-areas:
    "image topic"
    "image description"
    "image description-image"
    "image icons";
  column-gap: 15px;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}

.tweets:hover {
  background-color: #909ca81a;
}

.topic {
  grid-area: topic;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweets svg {
  width: 18.75px;
  height: 18.75px;
}

.topic-left {
  display: flex;
}

.topic > svg {
  padding: 5px;
}

.topic > svg:hover {
  background-color: rgb(29, 155, 240, 0.1);
  border-radius: 999px;
  fill: rgb(29, 155, 240);
}

.topic-left span:first-child {
  font-weight: bold;
  padding-right: 2px;
}

.topic-left:hover span:first-child {
  text-decoration: underline;
}

.topic-left span:last-child {
  padding-left: 5px;
  color: rgb(83, 100, 113);
}

.topic__description {
  grid-area: description;
  margin: 0 0 10px 0;
}

.tweet__description-image {
  grid-area: description-image;
  margin-bottom: 10px;
}

.tweet__description-image img {
  width: 500px;
  border-radius: 20px;
}

.tweet__icons {
  grid-area: icons;
  fill: rgb(83, 100, 113);
  color: rgb(83, 100, 113);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet__icons div {
  display: flex;
  align-items: center;
}

.tweet__icons svg {
  margin-right: 5px;
  border-radius: 999px;
  padding: 5px;
}

.tweet__icons *:first-child:hover span {
  color: rgb(29, 155, 240);
}

.tweet__icons *:first-child:hover svg,
.tweet__icons svg:last-child:hover {
  fill: rgb(29, 155, 240);
  background-color: rgb(217, 238, 252);
}

.tweet__icons *:nth-child(2):hover span {
  color: rgb(96, 240, 29);
}

.tweet__icons *:nth-child(2):hover svg {
  fill: rgb(96, 240, 29);
  background-color: rgb(226, 253, 213);
}

.tweet__icons *:nth-child(3):hover span {
  color: rgb(241, 15, 223);
}

.tweet__icons *:nth-child(3):hover svg {
  fill: rgb(241, 15, 223);
  background-color: rgb(255, 223, 252);
}

/* aside */

.aside__search-icon {
  width: 20px;
  height: 20px;
  color: #9aa0a6;
  fill: currentColor;
}

.aside__search-wrapper {
  display: flex;
  background-color: #7a848f1a;
  border-radius: 24px;
  height: 40px;
  width: 100%;
  align-items: center;
  margin: auto;
  margin-top: 6px;
  padding-left: 14px;
  padding-right: 8px;
  margin-bottom: 18px;
}

.aside__search {
  background-color: transparent;
  width: 100%;
  margin-left: 13px;
  border: none;
  outline: none;
}

.aside__search-wrapper:focus-within .aside__search-icon{
  fill: rgb(29, 155, 240);
}

.aside__search-wrapper:focus-within {
  background-color: white;
  border: 1px solid rgb(29, 155, 240);
}

.aside-block{
  padding: 10px 0 0 0;
  background-color: #acbac91a;
  border-radius: 20px;
}

.aside-block__topic>svg{
  width: 20px;
  height: 20px;
  padding: 8px;
  cursor: pointer;
}

.aside-block__topic>svg:hover{
  background-color: #545a611a;
  border-radius: 100%;
}

.aside-block__topic{
  font-family: TwitterChirp;
  padding: 0 10px;
  display: flex;
  font-weight: 800;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.aside-block__item{
  padding: 15px 10px;
  cursor: pointer;
}

.aside-block__item svg{
  padding: 5px;
}

.aside-block__item svg:hover {
  background-color: rgb(29, 155, 240, 0.1);
  border-radius: 999px;
  fill: rgb(29, 155, 240);
}

.aside-block__show-more:hover,
.aside-block__item:hover{
  background-color: #545a611a;
}

.aside-block__item p{
  margin: 0;
  font-size: 13px;
  margin-bottom: 2px;
}

.item__hash-tag{
  font-size: 15px;
  font-weight: bold;
}

.aside-block__item p:last-child{
  color: rgb(83, 100, 113);
}

.item__first-line{
  display: flex;
  align-items: center;
  color: rgb(83, 100, 113);
  justify-content: space-between;
  height: 16px;
}

.item__first-line>svg{
  width: 18.75px;
}

.aside-block__show-more{
  color: rgb(29, 155, 240);
  padding: 15px 10px;
  border-radius: 0 0 20px 20px;
  cursor: pointer;
}

.follow-block{
  margin-top: 20px;
}

.follow-item {
  display: grid;
  grid-template-areas:
    "image name options"
    "image handle options";
  padding: 12px 12px;
  column-gap: 2px;
}

.follow__image {
  grid-area: image;
  align-self: center;
  width: 38px;
}

.follow__image > img {
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius: 100%;
}

.follow__name {
  font-weight: bold;
  font-size: 15px;
  grid-area: name;
  white-space: nowrap;
  max-width: cal(100% - 38px -24px);
  overflow: hidden;
}

.follow__handle {
  grid-area: handle;
  font-size: 15px;
  color: rgb(83, 100, 113);
}

.follow__options {
  align-self: center;
  grid-area: options;
  justify-self: end;
  fill: rgb(15, 20, 25);
}

.botton-follow{
  color: white;
  background-color: black;
}

.footer{
  margin-top: 15px;
  padding-left: 10px;
}

.footer__menu{
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: rgb(83, 100, 113);
  margin-bottom: 3px;
}

.footer__menu li{
  margin-right: 10px;
}

.footer__menu *:not(.footer__bottom-menu li:last-child){
  cursor: pointer;
}

.footer__menu *:not(.footer__bottom-menu li:last-child):hover{
  text-decoration: underline;
}

.footer__bottom-menu svg{
  width: 17px;
  height: 13px;
}

@media all and (max-width: 1089px) {
  .aside {
    width: 290px;
  }
}

@media all and (max-width: 1019px) {
  .menu-item__link {
    display: none;
  }

  .nav__tweet {
    width: 50px;
    height: 50px;
  }

  .nav__tweet > span {
    display: none;
  }

  .nav__tweet-icon {
    display: block;
  }

  .user > *:not(.user__image) {
    display: none;
  }

  .menu-item {
    justify-content: center;
  }

  .nav__logo-wrapper {
    width: 100%;
  }

  .nav__content-wrapper {
    width: 88px;
    text-align: center;
  }

  .nav::before {
    width: 88px;
  }

  .user {
    padding: 0;
    column-gap: 0;
    grid-template-areas: "image";
    justify-content: center;
  }

  #search-icon {
    display: block;
  }

  #explore-icon {
    display: none;
  }
}

@media all and (max-width: 992px) {
  .aside {
    display: none;
  }
}

@media all and (min-width: 481px) and (max-width: 610px) {
  .nav::before {
    width: 78px;
  }

  .nav__content-wrapper {
    width: 78px;
    text-align: center;
  }
}

@media all and (max-width: 480px) {
  .nav::before {
    display: none;
  }

  .nav__logo-wrapper {
    display: none;
  }

  .user,
  .nav__tweet {
    display: none;
  }

  .menu-item:not(.menu-item:first-child, .menu-item:nth-child(2), .menu-item:nth-child(3), .menu-item:nth-child(4)) {
    display: none;
  }

  .nav__content-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    width: 100%;
    top: 52px;
    bottom: 0;
  }

  .nav__menu {
    display: flex;
    justify-content: space-between;
  }
}
