.page {
  display: flex;
}

.page__nav {
  padding-top: 1px;
}

.page__main {
  background-color: green;
}

.page__aside {
  background-color: blue;
}

.nav {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
}

.nav__content-wrapper {
  width: 275px;
  padding: 0 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.nav__logo {
  width: 50px;
  height: 30px;
  color: rgb(29, 155, 240);
  fill: currentColor;
}

.nav__logo-wrapper {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo-wrapper:hover {
  background-color: rgb(29, 155, 240, 0.1);
  border-radius: 9999px;
  cursor: pointer;
}

.menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav__menu {
  list-style-type: none;
}

.menu-item__icon {
  width: 1.75rem;
  height: 1.75rem;
}

#search-icon {
  display: none;
}

.menu-item__link {
  margin: 0 20px 0 16px;
  text-decoration: none;
  color: rgb(15, 20, 25);
  font-size: 20px;
  vertical-align: middle;
}

.menu-item__link--active {
  font-weight: bold;
}

.menu-item__wrapper {
  padding: 12px;
}

.menu-item__wrapper:hover {
  background-color: #909ca81a;
  border-radius: 9999px;
}

.button {
  background-color: lightgray;
  border: 1px solid transparent;
  border: none;
  outline: none;
  padding: 0 16px;
  font-size: 15px;
  border-radius: 9999px;
  font-weight: 600;
  line-height: 20px;
  min-height: 36px;
}

.button--primary {
  background-color: rgb(29, 155, 240);
  color: white;
}

.nav__tweet {
  width: 90%;
  min-height: 52px;
  margin: 4px 0;
  font-size: 17px;
}

.user {
  display: grid;
  grid-template-areas:
    "image name options"
    "image handle options";
  padding: 12px;
  column-gap: 12px;
}

.nav__user {
  margin: 12px 0;
}

.user:hover {
  background-color: #909ca81a;
  border-radius: 9999px;
  cursor: pointer;
}

.user__image {
  grid-area: image;
  align-self: center;
  width: 38px;
}

.user__image > img {
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius: 100%;
}

.user__name {
  font-weight: bold;
  font-size: 15px;
  grid-area: name;
  white-space: nowrap;
  max-width: cal(100% - 38px -24px);
  overflow: hidden;
}

.user__handle {
  grid-area: handle;
  font-size: 15px;
  color: rgb(83, 100, 113);
}

.user__options {
  align-self: center;
  grid-area: options;
  width: 28px;
  justify-self: end;
  fill: rgb(15, 20, 25);
}

.nav__tweet-icon {
  display: none;
  width: 24px;
  height: 24px;
  fill: white;
}

@media all and (max-width: 1019px) {
  .menu-item__link {
    display: none;
  }

  .nav__tweet {
    width: 50px;
    height: 50px;
  }

  .nav__tweet > span {
    display: none;
  }

  .nav__tweet-icon {
    display: block;
  }

  .user > *:not(.user__image) {
    display: none;
  }

  .nav__content-wrapper {
    width: 74px;
  }

  .user {
    padding: 0;
    column-gap: 0;
    grid-template-areas: "image";
    justify-content: center;
  }

  #search-icon {
    display: block;
  }

  #explore-icon {
    display: none;
  }
}
